//===========================================
// -Buttons start
//===========================================

.btn {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  &[disabled], &.disabled{
    cursor: not-allowed;
  }
}

.hamburger{
  position: absolute;
  right: 0;
  top: 0;
}

.buy-btn{
  color: #fff;
  font-family: 'Montserrat', sans-serif;			
  background-color: $primary-1;
  font-weight: bold;
  font-size: rem(14);
  border: 1px solid $primary-1;
  padding: rem(14) rem(25);
  letter-spacing: 2px;  

  &:hover{
    background-color: lighten($primary-1, 20%);
    border-color: lighten($primary-1, 20%);
    color: lighten($black, 30%);
  }
}

.intro-cancel-btn{
  background: transparent;
  border: none;
  font-size: rem(18);
  margin: 0 auto;
  display: block;
}

.play-btn{
  background: transparent;
  color: $white;
  font-size: rem(100);
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 20%;
  
  &:focus {
    outline: none;
  }
}

.fb-btn{
  font-size: rem(12);
  font-weight: bold;
  color: #4b4f56;
  border: none;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  padding: rem(5);
}

.like-btn{
  float: left;
  margin-left: rem(16);
  
  
  i {
    color: #3a5897;
    margin-right: rem(2);
  }

  &:hover{
    background-color: lighten(#4b4f56, 90%);
  }
  
}

.share-btn {
  float: right;
  margin-right: rem(16);

  &:hover{
    background-color: lighten(#4b4f56, 90%);
  }
  
}


.send{
  color: $white;
  background-color: $primary-1;
  border: none;
  border-radius: 1000px;
  padding: rem(5) rem(8);
  margin-bottom: rem(10);

  i {
    font-size: rem(12);
  }

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: lighten($primary-1, 10%);
  }

  &:active{
    background-color: lighten($primary-1, 30%);
  }
}


//===========================================
// -Buttons end
//===========================================