//===========================================
	// -Helper Classes start
//===========================================

.text-center{
	text-align: center;
}

.clearfix{
	&:after {
		content: " "; 
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	 }
}

.zoom-select {
	border: 3px solid $primary-1 !important;
}

.margin-top{
	margin-top: rem(50);
}
//===========================================
	// -Helper Classes end
//===========================================
