//===========================================
// -Home Page start
//===========================================


// product container start
.product-container{
	margin-top: -200px;
	
	@include mq('sm', max){
		margin-top: -350px;
	}
}

.product{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.75);
	
	// image section
	.product-image-section{
		width: 45%;
		position: relative;
		background-color: #fff;
		float: left;
		
		@include mq('xl', max){
			float: none;
			display: block;
			width: 100%;
			height: 30%;
		}
		
		img {
			position: relative;
			top: 0;
			width: 90%;
			max-width: 100%;
		}
	}
	.product-img-bg {
		background-color: #00d2ff;
		background-size: calc(100% - 7em);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: inline-block;
		-webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
		clip-path: polygon(0 0, 0% 100%, 100% 0);
	}
	
	.zoom-img-container{
		position: absolute;
		right: 0;
		top: rem(150);
		margin-right: rem(-55);
		
		@include mq('lg', max){
			position: relative;
			margin: 0 auto;
			text-align: center;
			top: 0;
			right: 0;
		}
		
		.img{
			height: rem(70);
			width: rem(70);
			background-position: bottom;
			background-size: cover;
			background-repeat: no-repeat;
			margin: rem(6);
			position: relative;
			border: 3px solid transparent;
			transition: all 0.4s ease-in-out;
			
			@include mq('xl', max){
				height: rem(150);
				width: rem(150);
			}
			
			@include mq('lg', max){
				display: inline-block;
				
			}
			
			@include mq('sm', max){
				height: rem(55);
				width: rem(55);
				margin: rem(2);
			}
			
			&:hover {
				cursor: pointer;
				border-color: $primary-1;
				transform: scale(1.1);
			}
		}
		
		.img-1{
			background-image: url('../images/board-zoom-1.jpg');
		}
		
		.img-2{
			background-image: url('../images/board-zoom-2.jpg');
		}
		
		.img-3{
			background-image: url('../images/board-zoom-3.jpg');
		}
		
		.img-4{
			background-image: url('../images/board-zoom-4.jpg');
		}
		
	}
	
	
	
	// detail section
	.product-detail{
		float: right;
		width: 40%;
		height: 100%;
		padding: 0 rem(50);
		margin: 0 rem(5);
		position: relative;
		
		@include mq('xl', max){
			float: none;
			display: block;
			width: 100%;
			padding: 0 rem(16);
		}
		
		h5{
			font-family: 'Montserrat', sans-serif;
			font-size: rem(20);
			margin-bottom: 0;
			
			@include mq('sm', max){
				font-size: rem(14);
			}
		}
		
		.rating{
			font-size: rem(12);
			color: #787878;
			i{
				color: $secondary-1;
				font-size: rem(14);
				position: relative;
				
				@include mq('sm', max){
					font-size: rem(10);
				}
			}
			
			&:hover {
				cursor: pointer;
			}
			
			:nth-child(5){
				color: #787878;
			}
		}
		
		// side arrow
		.product-arrow{
			color: $white;
			position: absolute;
			right: 0;
			top: rem(20);
			margin-right: rem(-35);
			
			span {
				background-color: $secondary-1;
				padding: rem(8);
			}
			
			@include mq('sm', max){
				margin-right: rem(-15);
				font-size: rem(10);
				top: rem(30);
				span{
					padding: rem(5);				
				}
			}
			
			
		}
		
		.product-number{
			background-color: $black;
			color: $white;
			font-family: 'Montserrat', sans-serif;
			font-size: rem(14);
			padding: rem(10);
			position: absolute;
			right: 0;
			top: rem(48);
			margin-right: rem(-6);
			
			@include mq('sm', max){
				margin-right: rem(4);
				top: rem(45);
				font-size: rem(10);
				padding: rem(4);
			}
		}
		
		.detail-tab{
			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				border-bottom: 1px solid #a0a0a0;
				
				li{
					display: inline-block;
					padding: rem(8) 0;
					margin: 0 rem(20);
					color: #a0a0a0;
					font-family: 'Raleway', sans-serif;
					font-size: rem(14);
					font-weight: bold;
					position: relative;
					
					&:hover {
						color: $black;
					}
					
					@include mq('lg', max){
						margin: 0 rem(10);
					}
					
					@include mq('sm', max){
						font-size: rem(10);
						margin: 0 rem(3);
					}
				}
				
				:nth-child(1){
					margin-left: 0;
				}
			}
			
			.tab-descrip{
				font-size: rem(16);
				font-family: 'Raleway', sans-serif;
				line-height: 1.5;
				color: #787878;
				font-weight: 400;
				margin: rem(28) 0;
				padding-right: rem(10);
				
				@include mq('sm', max){
					font-size: rem(12);
				}
			}
		}
		
		.price{
			display: inline-block;
			color: #000000;
			font-weight: bold;
			font-size: rem(24);
			font-family: 'Montserrat', sans-serif;
			margin: 0 rem(25);
			margin-left: 0;
			
			@include mq('sm', max){
				font-size: rem(16);
				margin: 0 rem(10);
			}
		}
		
		.all-products-link{
			margin-top: rem(50);	
			// margin-bottom: rem(10); LATER	
			
			a{
				color: $primary-1;
				font-family: 'Montserrat', sans-serif;	
				
				&:hover {
					color: #4059ff;
				}
				
				@include mq('sm', max){
					font-size: rem(10);
				}
			}
		}
	}
	
}

.tab-title{
	&:hover {
		cursor: pointer;
		
	}
}

// product container end

// about section start

.about-container{
	margin-top: rem(300);
	// margin-bottom: rem(300);
	height: rem(650);
	width: 100%;
	position: relative;
	
	@include mq('md', max){
		margin-top: rem(200);
	}
	
	.about-bg-img {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-image: url('../images/img-2.jpg');
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.about-bg-img-layout{
		background: linear-gradient(to top, #{lighten($black, 10%)} 1% , transparent 99%);
		height: 100%;
		width: 100%;
	}
	
	.about-us{
		width: 50%;
		background-color: $white;
		margin-top: rem(-350);
		// display: inline-block;
		float: left;
		
		@include mq('xl', max){
			margin-top: rem(-200);
		}
		
		@include mq('sm', max){
			float: none;
			width: 95%;
			margin: 0 auto;
			margin-top: rem(-350);
			padding: rem(16);
		}
		
	}
	
	.intro{
		width: 50%;
		float: right;
		text-align: center;
		margin: rem(30);
		
		@include mq('xl', max){
			float: none;
			width: 100%;
		}
		
		@include mq('md', max){
			margin: 0;
		}
		
		@include mq('sm', max){
			marign: 0;
		}
		
		
		
		p{
			padding: 0 rem(50);
			font-family: $playfair;
			font-size: rem(22);
			font-style: italic;
			text-align: left;
			
			@include mq('sm', max){
				padding: 0 rem(16);
				font-size: rem(16);
			}
		}
		
		a{
			text-align: left;
			display: block;
			padding: 0 rem(50);
			font-family: $montserrat;
			color: #00d2ff;
			
			&:hover {
				color: #4059ff;
			}

			@include mq('sm', max){
				font-size: rem(14);
				padding: 0 rem(16);
			}
		}
	}
	
	.video{
		
		width: 37%;
		height: rem(300);
		// width: rem(500);
		background-image: url('../images/img-3.jpg');
		background-position: center;
		background-size: cover;
		// display: inline-block;
		float: left;
		margin-left: rem(150);
		margin-top: rem(-100);
		
		@include mq('xl', max){
			margin-left: rem(20);
			// margin-top: rem(-300);
		}

		@include mq('sm', max){
			margin-top: 0;
			width: 90%;
			// margin: 0 auto;
		}
	}
}
// about section end


// team section start
.team-container{
	margin-top: rem(500);
	margin-bottom: rem(250);
	
	.arrow{
		float: left;
		margin-top: rem(150);
		color: #4059ff;
		font-size: rem(14);
		background-color: $white;
		border-radius: 1000px;
		-webkit-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
		padding: rem(16);
		font-weight: bolder;
		
		&:hover{
			background-color: #4059ff;
			color: $white;
			cursor: pointer;
		}
	}
	
	.left-arrow{
		margin-right: rem(30);
	}
	
	.right-arrow {
		margin-left: rem(30);
	}
	
	.team-member{
		padding: rem(30);
		height: rem(250);
		width: rem(200);
		text-align: center;
		background-color: white;
		float: left;
		-webkit-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
		
		.member-img-container{
			
			.member-img{
				height: rem(100);
				width: rem(100);
				border-radius: 1000px;
				margin: 0 auto;
				border: 2px solid transparent;
			}
		}
		
		.member-info{
			
			.member-name{
				font-size: rem(18);
				color: $primary-1;
				font-family: $montserrat;
				font-weight: 400;
				margin-bottom: 0;
			}
			
			p{
				font-family: $raleway;
				margin: 0;
				color: #8c8c8c;
			}
			
			.zig-zag {
				display: block;
				margin: rem(16);
				color: darken( #8c8c8c, 80%);
				font-weight: bolder;
			}
			
			
		}
		
		.member-1{
			background-image: url('../images/slider-img-1.jpg');
			background-position: top 358px right 198px;
		}
		
		.member-2{
			background-image: url('../images/slider-img-2.jpg');
			background-position: right;
		}
		
		.member-3 {
			background-image: url('../images/slider-img-3.jpg');
			background-position: top 407px right 159px;
		}
		
		.member-4 {
			background-image: url('../images/slider-img-4.jpg');
			background-position: top 263px right 176px;
		}
		
		// team member hover
		&:hover {
			background-color: $primary-1;
			cursor: pointer;
			
			.member-img{
				border-color: $white;
			}
			
			.member-info{
				* {
					color: $white;
				}
				
				.zig-zag{
					color: $primery-light;
				}
			}
		}
		
	}
	
	.trans {
		transform: scale(1.1);
	}
}
// team section end


.latest-update-container{
	margin-bottom: 250px;
	
	.update-wrapper-title {
		text-align: center;
		margin-bottom: rem(25);
		
	}
	
	.update-wrapper {
		margin: 0 auto;
		width: 90%;
		padding: 0 12%;
	}
	
	// Latest Update Section start
	.update{
		height: rem(345);
		max-width: 25%;
		min-width: 20%;
		display: inline-block;
		margin: rem(20);
		
		.update-img{
			width: 100%;
			height: 60%;
		}
		
		.img-1{
			background-image: url('../images/update-img.jpg');
		}
		
		.img-2{
			background-image: url('../images/update-img-2.jpg');
		}
		
		.img-3{
			background-image: url('../images/update-img-3.jpg');
		}
		
		.update-description {
			font-family: $raleway;
			color: #787878;
			padding: 0 rem(10);
			font-size: rem(14);
		}
		
		&:hover {
			-webkit-box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.75);
			
			.update-description{
				color: $primery-light; 
			}
		}
	}
	
	.update-further-posts{
		display: block;
		margin: 0 auto;
		
		a{
			text-decoration: none;
			color: $white;
			display: inline-block;
			
			
		}
		
		&:hover{
			a{
				color: #4059ff;
				
			}
		}
		
	}
}

// Latest Update Section start

//===========================================
// -Home Page end
//===========================================
